.digits{
display: inline-block;
font-family: digital;
}

#time{
	font-family: cambria;
	font-size: 15px;
	font-style: bold;
	border-style: outset;
	margin: 50px 500px 50px 500px;
	padding: 20px 105px 20px 105px;
}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	width: 100%;
	margin: 0px;
	border-width: 1px;
	border-color: #666666;
	text-align: center;
	
}
table.gridtable th {
	border-width: 2px;
	padding: 10px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 2px;
	padding: 15px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}